// Import Susy
@import "bower_components/susy/sass/susy";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,400italic,300|PT+Serif:400,700);
$susy: (
gutter-position: inside-static,
container: 100%,
columns: 12,
column-width: 60px,
gutters: 20px/60px,
);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: #1d1d1d;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  clear: both;
}
h2 {
  color: #484847;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
h3 {
  color: #9a9fa3;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 20px;
}
h4 {
  color: #1d1d1d;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 15px;
  font-weight: 700;
}
p {
  margin-bottom: 0;
}
button {
  font-family: 'Roboto', sans-serif;
}
header {
  @include container(1530px);
  margin-bottom: 70px;
  h1 {
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    font-size: 92px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    background: #1d1d1d;
    text-align: center;
    padding: 25px 0;
  }
  h2 {
    font-size: 42px;
    font-weight: 300;
    text-transform: capitalize;
    width: 100%;
    background: #cccccc;
    text-align: center;
    padding: 25px 0;
  }
}
.block {
  @include container(1530px);
  margin-top: 40px;
}
ion-colour-palette {
  @include span(1 of 1);
  @include susy-breakpoint(49.063em) {
    @include span(1 of 6);
  }
}

code {
  white-space: pre-wrap;
  background: #eee;
  color: #000;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  clear: both;
  display: inline;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 10px;
}
pre {
  display: block;
  clear: both;
  code {
    display: inline-block;
    padding: 15px;
  }
}

ion-input, ion-button, ion-text, ion-custom-block {
  display: block;
  clear: both;
  margin: 20px 0;
  overflow: hidden;
  padding-top: 10px;
}
.logo {
  display: flex;
  align-items: center;
  background: #eeeeee;
  padding: 15px;
  h2 {
    display: inline-block;
    background: none;
    width: auto;
    margin-left: 30px;
  }
}
