// Import Susy
@import "bower_components/susy/sass/susy";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,400italic,300|PT+Serif:400,700);
$susy: (
gutter-position: inside-static,
container: 100%,
columns: 12,
column-width: 60px,
gutters: 20px/60px,
);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: #1d1d1d;
  background: #F9F9F9;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.section-name {
  font-family: 'PT Serif', serif;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 10px 0;
}
h3.class-name {
  font-size: 1.125rem; /* 18/16 */
  font-weight: 700;

}
p {
  margin-bottom: 0;
}
button {
  font-family: 'Roboto', sans-serif;
}
header {
  @include container(1530px);
  margin-bottom: 70px;
  h1 {
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    font-size: 92px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    background: #1d1d1d;
    text-align: center;
    padding: 25px 0;
  }
  h2 {
    font-size: 42px;
    font-weight: 300;
    text-transform: capitalize;
    width: 100%;
    background: #cccccc;
    text-align: center;
    padding: 25px 0;
  }
}
.colours, .elements {
  @include container(1530px);
}
.primary-colours, .secondary-colours {
  @include span(1 of 1);
  @include susy-breakpoint(35em) {
    @include span(1 of 2);
  }
  h2 {
    padding: 0 10px;
  }
  ion-colour-palette {
    @include span(1 of 1);
    @include susy-breakpoint(49.063em) {
      @include span(1 of 2);
    }
  }
}
.form, .typography, .patterns {
  @include span(1 of 1);
  @include susy-breakpoint(35em) {
    @include span(1 of 2);
  }
}

code {
  white-space: pre-wrap;
  background: #eee;
  color: #000;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  clear: both;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px 0 10px;
}

link-block p a:hover{
  text-decoration: underline !important;
}
ion-input, ion-button, ion-text, ion-custom-block {
  display: block;
  clear: both;
  margin: 20px 0;
  overflow: hidden;
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}
ion-font {
  @include span(1 of 1);
  @include susy-breakpoint(49.063em) {
    @include span(1 of 2);
  }
  ion-note {
    display: inline-block;
    color: #666666;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
    strong {
      font-weight: 700;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  background: #eeeeee;
  padding: 15px;
  h2 {
    display: inline-block;
    background: none;
    width: auto;
    margin-left: 30px;
  }
}
